@media (max-width:1599px)  {
  .header-wrapper h3.hello-aadi {
    font-size: 20px;
    text-wrap: nowrap;
}
.search-box-inner input {
  width: 240px;
  font-size: 16px;
}
.search-box-wrapper {
  margin-left: 15px;
}
.premium {
  margin-left: 20px;
}
nav.mainnav {
  margin-left: 20px;
}
.solar-car {
  margin-left: 10px;
}
.solar-car img {
  margin: 0 0 0 15px;
}
.user-profile {
  margin-left: 40px;
  margin-right: 10px;
}
div#side_responsive {
  display: flex;
  justify-content: end;
}
}
@media (max-width:1399px)  {
  .home-dashboard {
    width: 100%;
    left: 0;
  }
  .header-row {
  width: 100%;
  left: 0;
  }
}
@media (max-width:1199px)  
{
  .form-group {
    width: 70%;
}
button.btn {
  width: 70%;
}
.search-wrapper {
  display: block;
}
.right-side {
  display: block;
}
.header-wrapper h3.hello-aadi {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.search-box-inner input {
  width: 225px;
  font-size: 15px;
}
#side_responsive .sidenav a {
  font-size: 16px;
  color: #fff;
}

.premium {
  margin: 30px 15px;
}
.solar-car {
  text-align: center;
  margin-left: 0;
  margin-top: 30px;
}
.mainnav ul ul {
  min-width: 215px;
}
.hasDD > a:after {
  right: -20px;
}
ul.bottom_ul_flags li a {
  color: #ccc!important;
}
ul.bottom_ul_flags li a img {
  margin-right: 10px;
}
.toggle_side_nav_mob {
  position: fixed;
  top: 0;
  z-index: 1;
}
.real_chat_footer {
  position: unset;
  width: 100%;
}
.real_chat_footer input {
  margin-right: 0px;
}


}
@media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    
  }
  @media screen and (max-width:767px)
  {
   
  }
 
  @media (max-width:575px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
    .social {
      padding: 10px;
  }
  .row.connect {
    width: 70%;
}
.opt_fields .otp_box {
  max-width: 35px;
  height: 35px;
}
.head-row-wrapper {
  display: block;
}
.content_box p a {
  word-wrap: break-word;
}
.top_upgrade_buttons .main_span_upgrade span {
  font-size: 13px;
  margin: 0px 10px;
}
.site-bnr {
  margin: 10px 5px;
}
h4.learn2 {
  font-size: 20px;
  text-align: center;
}

.all_contact_top_head .all_contact_top_chat_inner{
  display: block;
}
.real_chat_footer {
  display: block;
}
.real_chat_footer input {
  margin-bottom: 15px;
}
.left_side_all_contact {
  padding: 20px 10px;
}

  }
  

  @media (max-width:400px){
    .chat_list_contacts {
      display: flex;
      flex-direction: column;
  }
  .left_side_chat {
    justify-content: center;
   
}
.right_side_chat{
  margin-top: 20px;
}
.all_contact_top_chat_inner {
  justify-content: space-around;;
}
  }




 